<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>Point disponible: </span>{{getPointRestant()}}</div>
  <div>
    <label>Nom:</label>
    <input [(ngModel)]="hero.name"  (ngModelChange)="updated=true" placeholder="name"/>
    <div [hidden]="hero.name"
         class="alert alert-danger" style="color: red">
      Name is required
    </div>
  </div>
  <div>
    <label>Vie:</label>
    <button (click)="increase('pdv')">+</button>
    {{hero.pdv}}
    <button (click)="decrease('pdv')">-</button>


  </div>
  <div>
    <label>Dégats:</label>
    <button (click)="increase('degats')">+</button>
    {{hero.degats}}
    <button (click)="decrease('degats')">-</button>

  </div>
  <div>
    <label>Attaque:    </label>
    <button (click)="increase('attaque')">+</button>
    {{hero.attaque}}
    <button (click)="decrease('attaque')">-</button>

  </div>
  <div>
    <label>Esquive:    </label>
    <button (click)="increase('esquive')">+</button>
    {{hero.esquive}}
    <button (click)="decrease('esquive')">-</button>
  </div>
  <label>Weapon:</label>
  <select [(ngModel)]="hero.weaponId"  (ngModelChange)="updated=true; getSelectedWeapon()">
    <option *ngFor="let weapon of weapons" [ngValue]="weapon.id"  >{{weapon.name}} </option>
  </select>
  <br>
  <div class="selectedWeapon" *ngIf="selectedWeapon !== null && selectedWeapon !== undefined">
    vie : {{selectedWeapon.pdv}}<br/>
    dégats : {{selectedWeapon.degats}}<br/>
    attaque : {{selectedWeapon.attaque}}<br/>
    esquive : {{selectedWeapon.esquive}}
  </div>


  <br/>
  <div *ngIf="updated">
    <button (click)="save()">Enregistrer modifications</button>

  </div>
<button (click)="goBack()">go back</button>
<button (click)="deleteHero()">Supprimer Hero</button>
</div>
